.container
        .footer
                hr(style='margin: 30px 0 10px 0;')
                p &copy;&nbsp;
                        a(href='#') Author
                        &nbsp;2013

link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='/javascript/bootstrap.js')

block footer